nav {
    width:100%;
    height: 8vh;
    background: linear-gradient(0deg, #8A00C7 28%, #430061 100%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

button {
    display: flex;
    align-items: center;
    gap: 10px; /* Espacio entre el icono y el texto */
    background: none;
    border: none;
    color: white;
    font-family: 'RetroGaming', sans-serif;
    font-size: 1rem;
    cursor: pointer;
    padding: 5px 10px;
}

button i {
    font-size: 42px; /* Tamaño del ícono */
    color: white;
    margin-top: 10px;
}

button .catalog {
    margin: 0;
    color: white;
    font-size: 20px;
}

.search-input {
    background: url('https://cdn-icons-png.flaticon.com/512/622/622669.png') no-repeat left 10px center;
    background-size: 18px;
    padding-left: 40px;
    background-color: white;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.search-input:focus {
    outline: none;
    box-shadow: none;
    border-color: inherit;
}

.user-actions-container {
    display: flex;
    align-items: center;
    gap: 20px;
}

.user-action {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: white;
    height: 40px;
    padding: 0 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    cursor: pointer;
}

.user-action:hover {
    background-color: lightgray;
    border-color: black;
}

.login, .cart {
    color: black;
    font-family: 'RetroGaming', sans-serif;
    font-size: small;
    text-decoration: none;
}

.login:hover, .cart:hover {
    text-decoration: underline;
}

.user-icon, .bag-icon {
    height: 30px;
}
