<div>
    <div id="registerBackground"></div>
    <div id="registerBox" class="flex-container">
        <h2>Registro</h2>
        <hr id="registerLine">
        <label id="nameField">
            <span>Nombre</span>
            <input type="text" id="registerName" class="form-control" placeholder="Nombre de usuario"  required>
        </label>
        <label id="passField">
            <span>Contraseña</span>
            <input type="password" id="registerPass" class="form-control" placeholder="Contraseña" required>
        </label>
        <label id="emailField">
            <span>Email</span>
            <input type="email" id="registerEmail" class="form-control" placeholder="Email" required>
        </label>
        <button type="button" class="btn btn-info" id="registerButton">Registro</button>
    </div>
</div>
