nav {
    width: 100vw;
    height: 8vh;
    background-color: #8A00C7;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.search-input {
    background: url('https://cdn-icons-png.flaticon.com/512/622/622669.png') no-repeat left 10px center;
    background-size: 18px;
    padding-left: 40px;
    background-color: white;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.search-input:focus {
    outline: none;
    box-shadow: none;
    border-color: inherit;
}

i {
    color: black;
    font-size: 40px;
    cursor: pointer;
}

.btn {
    font-family: 'RetroGaming', sans-serif;
    
}

.btn:hover{
    text-decoration: underline;
}