<login *ngIf="loginVisible"></login>
<div id="gloval-div">
  <h1 id="title">Listado de productos</h1>
  <div id="productsAndFilters">
    <div id="filters">
      <h1 id="filters-title">Filtros</h1>
      <div id="price-filter">
        <h1>Precio</h1>
        <label>
          Mínimo: 
          <input class="num-price" type="number" [value]="priceMin" (input)="onPriceMinChange($event)" placeholder="MIN">
        </label>
        <label>
          Máximo: 
          <input class="num-price" type="number" [value]="priceMax" (input)="onPriceMaxChange($event)" placeholder="MAX">
        </label>
        <button class="btn btn-warning" (click)="applyFilters()">Aplicar</button>
      </div>
      <div id="category-filter">
        <h1>Categorías</h1>
        <label *ngFor="let category of allCategories">
          <input
            type="checkbox"
            [checked]="selectedCategory === category"
            (change)="onSingleCheckboxChange(category)"
          >
          {{ category }}
        </label>
      </div>
    </div>

<div id="product-list" class="container">
  <ng-container *ngIf="filteredProducts.length > 0; else noProducts">
    <div (click)="goToProduct(product.id)" *ngFor="let product of getPaginatedProducts()" id="product">
      <div id="product-img">
        <img [src]="product.img_url" alt="{{ product.name }}">
      </div>
      <div class="product-content">
        <div id="product-info">
          <div id="product-name">{{ product.name }}</div>
          <div id="product-price">{{ product.price }}€</div>
          <div id="product-description">{{ product.description }}</div>
        </div>
      </div>
    </div>

    <div id="pagination-controls" class="pagination-controls">
      <button (click)="prevPage()" [disabled]="currentPage === 1">
        <span>&#9664;</span>
      </button>
      <span class="page-number">{{ currentPage }}</span>
      <button (click)="nextPage()" [disabled]="(currentPage * itemsPerPage) >= filteredProducts.length">
        <span>&#9654;</span>
      </button>
    </div>
  </ng-container>

  <ng-template #noProducts>
    <p class="no-products-message">No se encontraron productos con esos filtros.</p>
  </ng-template>
</div>

    
  </div>
</div>
