<section id = "productForm">
    <div id = "productName" class = "my-4">
        <span> Nombre </span>
        <br>
        <input type = "text" placeholder="Introduce nombre de producto" required>
    </div>

    <div id = "productDescription" class = "my-4"> 
        <span> Descripción </span>
        <br>
        <input type = "text" required>
    </div>

    <div id = "productCategory" class = "my-4">
        <span> Categoria </span>
        <br>
        <select>
            <option> Consolas </option>
            <option> Merchandising </option>
        </select>
    </div>

    <div id = "productPrice" class = "my-4">
        <span> Precio </span>
        <br>
        <input type = "number" placeholder = "Precio de venta">
    </div>

    <div id = "productImage" class = "my-4">
        <span> Adjuntar imagenes </span>
        <br>
        <input type = "file">
    </div>

    <div id = "productAdd" class = "my-4">
        <button> Añadir Producto </button>
    </div>
</section>
