html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

#global-div {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: relative;
}

#productBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/assets/images/registerBackground.gif');
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -2;
}

#productBackground::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: -1;
}

#productForm {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.productBox {
  font-family: 'RetroGaming', sans-serif;
  font-size: 20px;
  z-index: 1;
  width: 500px;
  background: linear-gradient(to bottom, #8A00C7, #430061);
  border-radius: 15px;
  padding: 30px;
  text-align: center;
  box-shadow: 0 0 20px #bf5dea;
  color: rgb(231, 231, 231);
}

.title {
  font-size: 30px;
  margin-bottom: 20px;
  font-weight: bold;
}

label {
  display: block;
  text-align: center;
  margin-bottom: 5px;
  margin-top: 20px;
  margin-bottom: 10px;
  letter-spacing: 0.9px;
}

input.form-control,
select.form-control {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-top: 5px;
  font-family: inherit;
}

input.form-control:focus,
select.form-control:focus {
  box-shadow: 0 0 20px #bf5dea;
  outline: none;
}

#registerButton {
  margin: 25px 0 10px 0;
  background: #ff2fb3;
  padding: 10px 50px;
  border: none;
  color: white;
  cursor: pointer;
  font-family: inherit;
  border-radius: 5px;
}

#registerButton:hover {
  background: #cc2490;
}

 #productLine {
    display: flex;
    width: 90%;
    height: 3px;
    background-color: #ff2fb3;
    border-radius: 5px;
    margin: 20px auto;
  }

.feedback-message {
  margin: 0.75rem 0;
  padding: 0.75rem 1rem;
  font-family: 'RetroGaming', sans-serif;
  font-weight: bold;
  border-radius: 6px;
  text-align: center;
  animation: fadeIn 0.4s ease-in-out;
}


.success-message {
  background-color: rgba(0, 255, 100, 0.2);
  color: #00e676;
  border: 1px solid #00c853;
}


.error-message {
  background-color: rgba(255, 0, 0, 0.2);
  color: #ff4d4d;
  border: 1px solid #ff1744;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

