<section id = "productForm">
    <form method = "POST" (ngSubmit)="add()">
        <div id = "productName" class = "my-4">
            <span> Nombre </span>
            <br>
            <input type = "text" placeholder="Introduce nombre de producto" required [(ngModel)] = "name" name = "name" id = "name">
        </div>

        <div id = "productDescription" class = "my-4"> 
            <span> Descripción </span>
            <br>
            <input type = "text" [(ngModel)] = "description" name = "description">
        </div>

        <div id = "productCategory" class = "my-4">
            <span> Categoria </span>
            <br>
            <select [(ngModel)] = "category" name = "category">
                <option> Consolas </option>
                <option> Merchandising </option>
            </select>
        </div>

        <div id = "productPrice" class = "my-4">
            <span> Precio </span>
            <br>
            <input type = "number" placeholder = "Precio de venta" [(ngModel)] = "price" name = "price">
        </div>

        <div id = "productImage" class = "my-4">
            <span> Adjuntar imagenes </span>
            <br>
            <input type = "file" [(ngModel)] = "image" name = "image">
        </div>

        <div id = "productAdd" class = "my-4">
            <input type = "submit" value = "Añadir Producto "> 
        </div>
    </form>
</section>
