<footer>
    <div>
        <a href="/" (click)="redirectHome(); $event.preventDefault()">

            <img src="assets/images/bitmasters5.jpg" alt="bitmasters" class="bitmasters-logo">
        </a>
    </div>

    <div class="contact-container">
        <p>¡Contacta con nosotros!</p>
        <ul class="contact">
            <li class="li-items">Info: +34 273 72 92 57</li>
            <li class="li-items">Soporte: +34 283 47 03 15</li>
            <li class="li-items">Correo: {{ gmail }}</li>
        </ul>
    </div>

    <div class="social-container">
        <p>¡Síguenos!</p>
        <div class="social-logos">
            <a href="https://www.facebook.com" target="_blank">
                <img src="assets/images/facebook.png" alt="facebook" class="logos">
            </a>
            <a href="https://www.instagram.com" target="_blank">
                <img src="assets/images/social.png" alt="instagram" class="logos">
            </a>
            <a href="https://www.x.com" target="_blank">
                <img src="assets/images/twitter.png" alt="x" class="logos">
            </a>
        </div>
    </div>

</footer>