<div id="gloval-div">
    <h2 id="title">Sobre nosotros</h2>
    <div class="my-5">
        <h3 id="title2">Quienes somos?</h3>
        <div class="container" style="width: 1000px;">
            <p>Bitmasters es mucho más que una plataforma de compra y venta. Somos un equipo de apasionados por los
                videojuegos
                que decidió crear un espacio dedicado exclusivamente a lo que más nos gusta: el universo gamer. Desde
                consolas
                retro hasta periféricos de última generación, pasando por merchandising coleccionable y videojuegos de
                todas
                las
                épocas, en Bitmasters reunimos a una comunidad donde cada artículo tiene una historia y cada intercambio
                es
                entre verdaderos fans.</p>
        </div>
    </div>
    <div class="my-5">
        <h3 id="title2">Nuestro objetivo</h3>
        <div class="container" style="width: 1000px;">
            <p>Con un enfoque 100% gamer, hemos diseñado una experiencia pensada para que comprar o vender sea fácil,
                seguro
                y, sobre todo, entre personas que hablan el mismo idioma: el del gaming.

                Nuestro objetivo es claro: conectar a jugadores con jugadores, facilitar el acceso a productos únicos y
                dar
                nueva vida a esos tesoros que a veces se quedan en una estantería.

                En Bitmasters, creemos que el valor de un juego no termina cuando se apaga la consola.</p>
        </div>
    </div>
</div>