.user-actions-container {
    display: flex; /* Coloca los contenedores uno al lado del otro */
    gap: 20px; /* Espacio entre los contenedores */
}

.user-action {
    display: flex;
    align-items: center; /* Centra verticalmente los elementos dentro de cada contenedor */
    gap: 10px; /* Espacio entre el texto y el ícono */
    background-color: white;
    height: 40px;
    padding: 0 15px; /* Padding horizontal */
    border-radius: 5px;
    border: 1px solid #ccc;
    cursor: pointer; /* Cambia el cursor a un puntero */
}

.user-action:hover {
    background-color: lightgray;
    border-color: black;
}

.login, .cart {
    color: black;
    font-family: 'RetroGaming', sans-serif;
    font-size: small;
    text-decoration: none; /* Elimina el subrayado por defecto */
}

.login:hover, .cart:hover {
    text-decoration: underline; /* Subrayado al hacer hover */
}

.user-icon, .bag-icon {
    height: 30px; /* Ajusta el tamaño de los íconos */
}