<div id="background">
  <div *ngIf="product" id="product">
    <div id="product-img">
      <img [src]="product.img_url" alt="{{ product.name }}">
    </div>
    <div id="product-description">
      <div id="priceAndUser">
        <p>{{ product.price }}€</p>
        <p>Usuario: {{product.user}}</p>
      </div>
      <div id="nameAndCategory">
        <h1>{{ product.name }}</h1>
        <p>Categoria: {{ product.category }}</p>
      </div>
      <p>{{ product.description }}</p>
    </div>
    <div id="buyProduct">
      <input type="button" value="Comprar" id="buyButton">
    </div>
  </div>
</div>