<login *ngIf="loginVisible"></login>
<div id="product-background">
  <div *ngIf="product" id="product-container">

    <div class="product-image">
      <img [src]="product.img_url" [alt]="product.name" />
    </div>

    <div class="product-header">
      <span class="category">{{ product.category }}</span>
      <h1 class="product-name">{{ product.name }}</h1>
      <div class="product-price">{{ product.price }}€</div>
    </div>

    <p class="product-description">{{ product.description }}</p>

    <div class="product-meta">
      
      <span class="vendedor-wrapper">
        <span class="vendedor-label">Vendedor:</span>
        <span class="user" (click)="navigateToProfile()">{{ product.user.name }}</span>
      </span>
    </div>



    <button id="buy-button" (click)="addToCart()">Añadir a la cesta</button>

    <p *ngIf="successMessage" class="success-message">
      ✅ Producto añadido a la cesta.
    </p>

  </div>
</div>