.custom-backdrop {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5); 
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  overflow: auto;
}

.custom-modal {
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'RetroGaming', sans-serif;
  font-size: 20px;
  width: 500px;
  height: 400px;
  background: linear-gradient(to bottom, #8a00c7, #430061); 
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 0 20px #bf5dea; 
  color: rgb(231, 231, 231);
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  text-align: center;
  z-index: 10000;
}

.modal-header {
  margin-bottom: 15px;
  text-align: center;
}

.modal-header h2 {
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
  color: rgb(231, 231, 231);
}

.custom-modal > p {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 20px;
}

.modal-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
  width: 100%;
}

.drop-cart {
  min-width: 100%;
  min-height: 60px;
  padding: 12px 20px;
  border-radius: 15px;
  font-family: 'RetroGaming', sans-serif;
  font-size: 1.1rem;
  border: none;
  cursor: pointer;
  background: #ff2fb3; 
  color: white;
  transition: background 0.3s ease;
  justify-content: baseline;
}

.drop-cart:hover {
  background: #cc2490;
}
