.profile-header{
    position: relative;
    border: 2px solid black;
    width: 952px;
    border-radius: 10px;
    margin: 0 auto;
    padding: 3%;
}
section > *{
    color: white;
}

.pfp{
    width: 166px;
    height: 166px;
}

.pfp > img{
    width: 100%;
    height: 100%;
}

.profile-name{
    position: absolute;
    left:185px;
    padding-left: 16px;
}
.profile-summary{
    margin-top: 25px;
}
.profile-date{
    margin-top: 25px;
}
.profile-content{
    width: 952px;
    margin: 0 auto;
    margin-top: 10px;
}
.profile-content > h2{
    text-align: left;
    position: relative;
    color: white;
    border-bottom: 3px solid rgb(255, 255, 255);
    
}
.content{
    background-color: rgb(148, 92, 253);
    padding: 20px;
}
.purchase-history > .product{
    border-radius: 10px;
    border: 1px solid black;
    background: linear-gradient(to bottom right,#8A00C7 10%,#FF007F,#00F0FF);
    padding: 10px;
}

.img-product{
    width: 150px;
    height: 200px;
    align-self: center;
    margin-left:10px;
}

.product-data{
    position: relative;
    margin-left: 10px;
    width: 400px;
}

.product-data > div {
    text-align: left;
    margin-bottom: 20px;
}
.product-name{
    font-size: 30px;
    font-style: bold;
}
.prodcut-review{
    margin-top: 60px;
}
.review{
    margin-top: 50px;
}
.rating > img{
    width: 50px;
    height: 50px;
    
}