<section class="text-center">
    <div class="d-inline-block content">
        <!-- HEADER DEL PERFIL -->
        <div class="profile-header">
            <div class="profile-name d-flex">
                <div class="d-flex">
                    <h3 class="mx-2" *ngIf="!editName"> {{user?.name}}</h3>
                    <input class="form-control" *ngIf="editName" [value]="user?.name"
                        (input)="updateField('name', $event)">
                </div>
                <div class="d-flex">
                    <h3 *ngIf="!editSurname"> {{user?.surname}} </h3>
                    <input class="form-control" *ngIf="editSurname" [value]="user?.surname"
                        (input)="updateField('surname', $event)">
                    <img src="../../../assets/icons/icons8-pencil-drawing-64.png" *ngIf="!editName && isLoggedIn"
                        (click)="toggleEdit('name')" class="edit-icon">
                </div>
                <div>
                    <button type="button" class="btn btn-success mx-4" *ngIf="isLoggedIn && (editName || editSurname)"
                        (click)="saveProfile()">Guardar cambios</button>
                </div>
            </div>

            <div class="header-buttons d-flex flex-column">
                <button> Enviar Mensaje</button>
                <button *ngIf="isLoggedIn" (click)="navigateToAddProduct()"> Vender Producto </button>
                <button *ngIf="isLoggedIn" (click)="deleteProfile(user?.id)">Darse de baja</button>
            </div>

            <div class="pfp">
                <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png"
                    class="d-flex">
            </div>
        </div>

        <!-- DATOS PERSONALES -->
        <div class="personal-data profile-content">
            <div class="d-flex justify-content-between my-3">
                <h2> Datos personales </h2>
            </div>

            <div class="d-flex justify-content-around gap-5">
                <div class="d-flex flex-column">
                    <div>
                        <div>
                            <span><strong>Correo electrónico</strong></span>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between my-3">
                        <div>
                            <span *ngIf="!editMail"> {{user?.mail}} </span>
                            <input class="form-control" *ngIf="editMail" [value]="user?.mail"
                                (input)="updateField('mail', $event)">
                        </div>
                        <img src="../../../assets/icons/icons8-pencil-drawing-64.png" *ngIf="!editMail && isLoggedIn"
                            (click)="toggleEdit('mail')" class="edit-icon">
                        <button type="button" class="btn btn-success mx-4" *ngIf="isLoggedIn && (editMail)"
                            (click)="saveProfile()">Guardar cambios</button>
                    </div>

                </div>
                <div class="d-flex flex-column">
                    <div>
                        <span><strong>Teléfono de contacto</strong></span>
                    </div>
                    <div class="d-flex justify-content-between my-3">
                        <div>
                            <span *ngIf="!editPhone && user?.phone === null">Teléfono no proporcionado</span>
                            <span *ngIf="!editPhone && user?.phone !== null">{{user?.phone}}</span>
                            <input class="form-control" *ngIf="editPhone" [value]="user?.phone"
                                (input)="updateField('phone', $event)">
                        </div>
                        <img src="../../../assets/icons/icons8-pencil-drawing-64.png" *ngIf="!editPhone && isLoggedIn"
                            (click)="toggleEdit('phone')" class="edit-icon">
                        <button type="button" class="btn btn-success mx-4" *ngIf="isLoggedIn && (editPhone)"
                            (click)="saveProfile()">Guardar cambios</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- HISTORIAL DE COMPRAS -->
        <div class="purchase-history profile-content">
            <div class="d-flex justify-content-between my-4">
                <h2> Historial de compras </h2>
            </div>

            <!-- HISTORIAL DE COMPRAS producto -->
            <div class="product d-flex mb-4" *ngFor="let purchase of purchases; let i = index">
                <img src={{purchase.product.img_url}} class="img-product">
                <div class="product-data d-flex flex-column">
                    <div class="product-name"><span> {{purchase.product.name}} </span></div>

                    <div class="product-summary"><span> {{purchase.product.description}} </span></div>

                    <div class="product-date"><span> {{purchase.purchase_date.getDay}} </span></div>

                </div>

                <div class="product-review">
                    <div class="review">
                        <div class="rating">
                            <img src="../../../assets/images/profile/Star-Logo-PNG-HD.png">
                            <img src="../../../assets/images/profile/Star-Logo-PNG-HD.png">
                            <img src="../../../assets/images/profile/Star-Logo-PNG-HD.png">
                            <img src="../../../assets/images/profile/Star-Logo-PNG-HD.png">
                        </div>
                        <div><span> LE PONGO UNA ESTRELLA PORQUE NO LE PUEDO PONERLE 0</span></div>
                    </div>
                </div>
            </div>

            <div *ngIf="purchases.length === 0">
                <span>No hay compras recientes</span>
            </div>
        </div>

        <!-- PRODUCTOS EN VENTA -->
        <div class="products profile-content">
            <div class="d-flex justify-content-between my-4">
                <h2> Productos </h2>
            </div>

            <!-- PRODUCTOS EN VENTA producto -->
            <div class="product d-flex mb-4" *ngFor="let product of products; let i = index">
                <img src={{product.img_url}} class="img-product">
                <div class="product-dataWITHdelete-product">
                    <div class="product-data">
                        <div class="product-name"><span> {{product.name}}</span></div>
                        <div class="product-summary"><span> {{product.description}} </span></div>
                        <div class="product-date"><span> {{product.category}} </span></div>
                    </div>
                    <div *ngIf="isLoggedIn" (click)="deleteProduct(product.id)" class="delete-product">
                        <span>Eliminar</span>
                    </div>
                </div>
                <div class="product-review">
                    <div class="review">

                    </div>
                </div>
            </div>

            <div *ngIf="products.length === 0">
                <span>No hay productos disponibles</span>
            </div>
        </div>
    </div>
    <login *ngIf="loginVisible"></login>
</section>