<section class = "text-center">
    <div class = "profile-header">
        <div class = "profile-name">
            <h3> Alex Alabay, Gracias </h3>
            <div class = "profile-summary">
                "Chavales, hoy subo a oro 1"
            </div>
            <div class = "profile-date"> 
                Se ha unido: 20 de marzo de 2025
            </div>
        </div>
        
        <div class = "pfp">
            <img src = "https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" class = "d-flex">
        </div>
    </div>

    <div class = "personal-data profile-content">
        <h2> Datos personales </h2>
    </div>

    <div class = "purchase-history profile-content">
        <h2> Historial de compras </h2>
    </div>
        
    <div class = "products profile-content">
        <h2> Productos </h2>
    </div>
    
</section>
