<form [formGroup]="form" (ngSubmit)="onSave()" class="form-container">
    <h1 mat-dialog-title class="form-title">
        {{ data ? 'Editar dirección ' : 'Añadir una nueva dirección' }}
    </h1>

    <div mat-dialog-content class="form-content">
        <mat-form-field appearance="fill">
            <mat-label>Tipo de via</mat-label>
            <input matInput formControlName="streetType" type="text">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Nombre</mat-label>
            <input matInput formControlName="name" type="text">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Población</mat-label>
            <input matInput formControlName="city" type="text">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Código postal</mat-label>
            <input matInput formControlName="zipCode" type="text">
        </mat-form-field>

        <!-- <mat-form-field appearance="fill">
            <mat-label>Población</mat-label>
            <input matInput formControlName="city" type="text">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Código postal</mat-label>
            <input matInput formControlName="zipCode" type="text">
        </mat-form-field> -->
    </div>

    <div mat-dialog-actions align="end" class="form-buttons">
        <button type="button" (click)="onCancel()" class="cancel-btn">Cancelar</button>
        <button type="submit" [disabled]="form.invalid" class="save-btn">Guardar</button>
    </div>
</form>