<login *ngIf="loginVisible"></login>
<div class="container">
    <h3 class="title">Dirección de envío</h3>


    <div class="address-info">
        <div *ngFor="let address of address; let i = index" class="address-card">
          <p><strong>Tipo de via:</strong> {{ address.street_type }}</p>
          <p><strong>Nombre:</strong> {{ address.name }}</p>
          <p><strong>Población:</strong> {{ address.city }}</p>
          <p><strong>Código Postal:</strong> {{ address.zip_code }}</p>
          <div class="info-buttons">
            <button class="edit-info" (click)="openFormDialog(address, i)">Editar</button>
            <button class="delete" (click)="deleteAddress(address.id)">Eliminar</button>
          </div>
        </div>
      </div>
      

    <div class="buttons">
        <button class="add-address-btn" (click)="openFormDialog()"> + Añadir dirección</button>
        <button class="continue-btn" (click)="goToPayment()">Continuar</button>
    </div>

</div>