
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}


#gloval-div {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: relative;
}


#registerBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/assets/images/registerBackground.gif');
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}

#registerBackground::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}


#registerBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'RetroGaming', sans-serif;
  font-size: 20px;
  z-index: 1;
  width: 500px;
  flex-wrap: wrap;
  background: linear-gradient(to bottom, #8A00C7, #430061);
  border-radius: 15px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 0 20px #bf5dea;
  color: rgb(231, 231, 231);
}


#registerLine {
  display: flex;
  width: 90%;
  height: 3px;
  background-color: #ff2fb3;
  border-radius: 5px;
  margin: 15px auto;
}

#emailField,
#nameField,
#surnameField,
.passField {
  width: 100%;
  margin: 10px 0;
}


#registerButton {
  margin: 25px 0 10px 0;
  background: #ff2fb3;
  padding: 10px 50px;
  border: none;
  color: white;
}

#registerButton:hover {
  background: #cc2490;
}


input.form-control {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-top: 5px;
  font-family: inherit;
}
