@font-face {
    font-family: 'RetroGaming';
    src: url('/../../assets/fonts/RetroGaming.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

#registerBackground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/assets/images/registerBackground.gif');
    background-size: cover; 
    background-repeat: no-repeat;
    z-index: -1;
    display: flex;
}

#registerBackground::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6); /* Capa negra semi-transparente */
  }

#registerBox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'RetroGaming';
    font-size: 20px;
    z-index: 1;
    width: 500px;
    flex-wrap: wrap;
    background: linear-gradient(to bottom, #8A00C7, #430061);
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    box-shadow: 5px 5px 5px 5px #111111;
    color: rgb(231, 231, 231);
}

#registerLine {
    display: flex;
    width: 90%;
    height: 3px;
    background-color: #00C3FF; 
    border-radius: 5px;
    margin: 15px auto;
}

#emailField, #nameField, .passField {
    width: 100%;
    margin: 10px 0px 10px 0px;
}

#registerButton {
    margin: 25px 0px 10px 0px;
    background: linear-gradient(to bottom, #00C3FF, #0698c4);
    padding: 10px 50px 10px 50px;
    border: 0px;
}

#registerButton:hover {
    background: linear-gradient(to top, #00C3FF, #0698c4);
}