<div *ngIf="loginVisible">
    <div id="loginBackground" (click)="hideLogin()">
      <div id="loginBox" class="flex-container" (click)="$event.stopPropagation()">
        <h1>Login</h1>
        <div id="loginLine"></div>
        <label id="nameField">
          <span>Nombre</span>
          <input type="text" id="loginName" class="form-control" [(ngModel)]="name" required>
        </label>
        <label id="passField">
          <span>Contraseña</span>
          <input type="password" id="loginPass" class="form-control" [(ngModel)]="password" required>
        </label>
        <span id="registerMessage">No tienes una cuenta aun? <a id="registerLink" routerLink="/register">Registrate ya!</a></span>
        <button type="button" class="btn btn-info" id="loginButton" (click)="login()">Login</button>
      </div>
    </div>
  </div>