@font-face {
  font-family: 'RetroGaming';
  src: url('/assets/fonts/RetroGaming.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('/assets/fonts/Lato-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* ⬅️ evita scroll horizontal */
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

body.modal-open {
  overflow: hidden;
}

:root {
  --mdc-dialog-container-color: transparent !important;
  --mat-sys-surface: transparent !important;
}

.mat-mdc-dialog-surface {
  margin-top: 50px !important;
}

app-root,
router-outlet,
.container {
  width: 100%;
  max-width: 100%;
}
