<section class="body">
    <div class="row">
        <div class="col-md-12">
            <div id="bannerDiv">
                <img src="../../assets/images/banner.png" alt="banner">
            </div>
            <h1>Bitmasters</h1>
            <div id="products">
                <div id="products-title">
                    <span>Lista de productos</span>
                    <span><a id="registerLink" routerLink="/products">Ver Todos</a></span>
                </div>
                <div id="products-preview">
                    <div (click)="goToProduct(product.id)" *ngFor="let product of paginatedProducts" id="product">
                        <div id="product-img">
                            <img [src]="product.img_url" alt="{{ product.name }}">
                        </div>
                        <div class="product-content">
                            <div id="product-info">
                                <div id="product-name">{{ product.name }}</div>
                                <div id="product-price">{{ product.price }}€</div>
                                <div id="product-description">{{ product.description }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <login *ngIf="loginVisible"></login>
</section>