<section class="cart-preview-container">
    <div class="cart-preview-header">
        <h3>Mi cesta</h3>
        <button class="close-btn" (click)="closeCart()">✖</button>
      </div>
    <div class="product-info-1">
        <a href="#">
            <img src="https://moviliario.es/50941-large_default/cosola-portatil-retro-sup-game-box-plus-con-400-juegos.jpg"
                alt="Imagen del producto seleccionado">
        </a>

        <div class="purchase-details">
            <button class="trash-btn">
                <img src="assets/images/trash-bin.png" alt="Eliminar">
            </button>
            <div class="product-title-with-icon">
                <a href="">Producto</a>
            </div>
            <p>Precio: 25€</p>
            <p>Unidades: 1</p>
        </div>
        

    </div>

    <hr>

    <h3>Resumen del pedido</h3>

    <div class="order-summary">
        <div class="product-info-2">
            <p>Unidades:</p>
            <p>Total (IVA incluido):</p>
        </div>
        <div class="product-info-3">
            <p>1</p>
            <p>500€</p>
        </div>
    </div>

    <button class="cart-preview-btn">Ver los artículos en mi cesta</button>
</section>